@font-face {
    src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
    font-family: Outfit-VariableFont;
}

@font-face {
    src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
    font-family: YoungSerif-Regular;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(30, 54%, 90%);
}

.main {
    background-color: white;
    border-radius: 1.5rem;
    width: 750px;
    margin: 150px auto;
}

.recipe-img {
    padding: 2.5rem 2.5rem 0rem 2.5rem;
}

.recipe-content {
    padding: 1rem 2.5rem 2.5rem 2.5rem;
}

.recipe-img img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.recipe-content h1 {
    font-family: YoungSerif-Regular;
    font-size: 2.5rem;
    margin: 0.5rem 0 0 0;
}

.recipe-content p {
    font-family: Outfit-VariableFont;
    color: hsl(60, 1%, 33%);
    line-height: 1.5rem;
}

.prep-time {
    background-color: hsl(330, 100%, 98%);
    padding: 0.2rem 0.2rem 0.2rem 2rem;
    font-family: Outfit-VariableFont;
    font-size: 1rem;
    margin-top: 40px;
    border-radius: 20px;
}

.prep-time  h2 {
    color: hsl(332, 51%, 32%);
}

.bullets {padding-left:2em}

.bullets li {
    font-family: Outfit-VariableFont;
    padding-left:1em;
    padding-bottom: 0.7em;
    color: hsl(60, 1%, 33%);
}

.prep-time li::marker {
    color: hsl(332, 51%, 32%);
}

.subheading {
    font-family: YoungSerif-Regular;
    color: hsl(14, 45%, 36%);
}

.ingredients li::marker {
    color: hsl(14, 45%, 36%);
}

.instructions li {
    font-weight:bold;
}

.instructions li span {
    font-weight:normal;
}

.instructions li::marker {
    color: hsl(332, 51%, 32%);
}

.nutritions table {
    border-collapse: collapse;
    width: 100%;
}

.nutritions table tr:last-child {
    border-bottom: 0;
}

.nutritions tr {
    border-bottom: 1px solid hsl(0, 0%, 55%);
}

.nutritions td {
    padding: 10px 100px 10px 40px;
    font-family: Outfit-VariableFont;
    color: hsl(60, 1%, 33%);
}

.nutritions td span {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

@media (max-width: 750px)  {
    .main {
        width: 100%; 
        margin: 0px;
        border-radius: 0px;
    }

    .recipe-img {
        padding: 0;
    }

    .recipe-img img {
        border-radius: 0;
    }
}